.icon {
	margin-bottom: 2rem;
	width: 15rem;
}

.title {
	margin-bottom: 0.3rem !important;
	text-transform: uppercase;
	text-align: center;
	font-family: "Poppins SemiBold";
}

.version {
	margin-bottom: 2rem;
	text-align: center;
	vertical-align: middle;
	font-family: "Poppins SemiBold";
}

.loading {
	width: 2rem;
}
