.curve {
	position: absolute;
	background-color: #1e1f22;
	height: 30rem;
	width: 150%;
	top: -10rem;
	border-bottom-right-radius: 90% 100%;
}

.icon {
	display: flex;
	margin-bottom: 10rem;
	position: absolute;
	top: 5rem;
}

.intro {
	margin-top: 1rem;
	text-transform: uppercase;
	text-align: center;
	font-family: "Poppins SemiBold";
}

.footer {
	text-transform: uppercase;
	font-family: "Poppins ExtraLight";
	margin-top: 3rem;
	text-align: center;
}

.addProfile {
	position: absolute;
	bottom: 3.5rem;
	right: 3.5rem;
	background-color: aqua;
	border-radius: 50%;
	width: 5rem;
	height: 5rem;
	display: flex;
	color: #1e1f22;
	font-size: 3rem;
	font-family: "Poppins Regular";
	padding: 0;
	transition: transform 250ms ease-out !important;
}

.addProfile:hover:not(:disabled) {
	background-color: aquamarine;
	transform: rotate(0.5turn) scale(105%) !important;
}

.chooseProfile {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
}

.header {
	margin-top: 3rem;
	font-family: "Poppins Medium";
	text-transform: uppercase;
}

.grid {
	display: flex;
	flex-direction: column;
	width: 80%;
	height: 100%;
	font-family: "Poppins Light";
	font-size: large;
}

.profile {
	margin: 3rem;
	background-color: #1e1f22;
	border-radius: 1rem;
	padding: 2rem;
	height: fit-content;
}

.profileHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.profileIcon {
	width: 5rem;
	margin-right: 2rem;
	height: 5rem;
	padding: 1rem;
	border-radius: 50%;
	background-color: #dbdee1;
}

.profileDetails {
	display: flex;
	flex-direction: row;
}

.studentName {
	margin-bottom: 0.5rem;
}

.className {
	font-size: 15px;
	color: aqua;
	margin-bottom: 0.1rem;
}

.year {
	color: grey;
	font-size: 15px;
}

.schoolName {
	font-family: "Poppins Regular";
	margin-top: 1rem;
}

.options {
	background-color: inherit;
	border: 0;
	border-radius: 50%;
	margin-top: 1rem;
	box-shadow: none !important;
}

.optionsImage {
	width: 3rem;
}

.profileState {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 2rem 0;
	text-transform: uppercase;
}

.join {
	background-color: rgb(88, 101, 242);
	border-radius: 50px;
	padding: 1.5rem;
	color: #dbdee1 !important;
	font-size: 1rem;
	font-family: "Poppins Light";
	text-transform: uppercase;
}

.join:hover {
	background-color: rgb(71, 82, 196);
}

.join:active {
	background-color: rgb(60, 69, 165);
}

.state {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.stateImage {
	width: 2rem;
	margin-right: 1rem;
}

.details {
	color: red;
	text-transform: uppercase;
}
