.profile {
	margin: 3rem;
	background-color: var(--embed-color);
	border-radius: 1rem;
	padding: 2rem;
	height: fit-content;
	font-family: "Poppins Light";
	font-size: large;
}

.profileHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.profileIcon {
	width: 5rem;
	margin-right: 2rem;
	height: 5rem;
	padding: 1rem;
	border-radius: 50%;
	background-color: var(--text-color);
}

.profileDetails {
	display: flex;
	flex-direction: row;
}

.studentName {
	margin-bottom: 0.5rem;
	user-select: text;
}

.className {
	font-size: 15px;
	color: var(--link-color);
	margin-bottom: 0.1rem;
	user-select: text;
}

.year {
	color: grey;
	font-size: 15px;
	user-select: text;
}

.schoolName {
	font-family: "Poppins Regular";
	margin-top: 1rem;
	margin-bottom: 2rem;
	user-select: text;
}

.options {
	align-items: center;
	background-color: inherit;
	border: 0;
	display: flex;
	height: 3rem;
	justify-content: center;
	margin-top: 1rem;
	padding: 5px;
	width: 3rem;
}

.optionsImage {
	width: 100%;
}

.profileState {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-transform: uppercase;
}

.join {
	align-items: center;
	background-color: #82ccce;
	border-radius: 50px;
	color: #000000;
	display: flex;
	font-family: "Poppins Regular";
	font-size: 1rem;
	height: 50px;
	padding: 1.5rem;
}

.join:hover,
.join:active {
	box-shadow: -3px 3px 20px -10px #78babc;
}

.join:hover {
	background-color: #78babc;
}

.join:active {
	background-color: #6ea9aa;
	color: #375455;
	transform: scale(95%);
	transition: transform 100ms ease-out;
}

.state {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.stateImage {
	width: 2rem;
	margin-right: 1rem;
}

.details {
	color: var(--red-color);
	text-transform: uppercase;
	margin-top: 2rem;
	user-select: text;
}
